In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.model_selection import train_test_split, cross_val_predict
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV,cross_val_score

In [33]:
energy=pd.read_csv("energy_production.csv", sep = ';', header = 0)
energy

      temperature  exhaust_vacuum  amb_pressure  r_humidity  energy_production
0            9.59           38.56       1017.01       60.10             481.30
1           12.04           42.34       1019.72       94.67             465.36
2           13.87           45.08       1024.42       81.69             465.48
3           13.72           54.30       1017.89       79.08             467.05
4           15.14           49.64       1023.78       75.00             463.58
...           ...             ...           ...         ...                ...
9563        17.10           49.69       1005.53       81.82             457.32
9564        24.73           65.34       1015.42       52.80             446.92
9565        30.44           56.24       1005.19       56.24             429.34
9566        23.00           66.05       1020.61       80.29             421.57
9567        17.75           49.25       1020.86       63.67             454.41

[9568 rows x 5 columns]

In [34]:
print(energy.info())
print(energy.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9568 entries, 0 to 9567
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   temperature        9568 non-null   float64
 1   exhaust_vacuum     9568 non-null   float64
 2   amb_pressure       9568 non-null   float64
 3   r_humidity         9568 non-null   float64
 4   energy_production  9568 non-null   float64
dtypes: float64(5)
memory usage: 373.9 KB
None
(9568, 5)

In [35]:
energy.describe()

,temperature,exhaust_vacuum,amb_pressure,r_humidity,energy_production
count,9568.000000,9568.000000,9568.000000,9568.000000,9568.000000
mean,19.651231,54.305804,1013.259078,73.308978,454.365009
std,7.452473,12.707893,5.938784,14.600269,17.066995
min,1.810000,25.360000,992.890000,25.560000,420.260000
25%,13.510000,41.740000,1009.100000,63.327500,439.750000
50%,20.345000,52.080000,1012.940000,74.975000,451.550000
75%,25.720000,66.540000,1017.260000,84.830000,468.430000
max,37.110000,81.560000,1033.300000,100.160000,495.760000

In [36]:
energy.isnull().sum()

temperature          0
exhaust_vacuum       0
amb_pressure         0
r_humidity           0
energy_production    0
dtype: int64

In [37]:
energy[energy.duplicated()].shape

(41, 5)

In [38]:
data_cleaned=energy.drop_duplicates()

In [39]:
data_cleaned.shape

(9527, 5)

In [40]:
X = data_cleaned[['temperature', 'exhaust_vacuum', 'amb_pressure', 'r_humidity']].values
y = data_cleaned['energy_production'].values

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [42]:
model2= RandomForestRegressor(n_estimators=10)
model2.fit(X_train, y_train)

RandomForestRegressor(n_estimators=10)

In [43]:
cross_val_score(model2,X_train,y_train).mean()

0.9532777798903869

In [46]:
pred = model2.predict(X_test)
mse=metrics.mean_squared_error(y_test,pred)
print(mse)

12.23111391920252

In [47]:
# import pickle
# pickle.dump(model10,open('new_model.pkl','wb'))

In [50]:
import pickle
pickle_out = open("model2.pkl","wb")
pickle.dump(model2, pickle_out)
pickle_out.close()

In [51]:
model2.predict([[2,3,4,1]])

array([487.784])